.carousel-item h5{
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    text-shadow: black 2px 2px;
}

.carousel-item p {
    text-shadow: black 1px 1px;
}

.carousel {
    border-bottom: 1px solid rgba(255, 0, 0, 0.479);
}

.carousel-item {
    cursor: pointer;
}